<div class="content-form">
  <form action="" class="form">
    <h5>Registro</h5>
    <div class="grupo">
      <input type="date" name="" id="name" required><span class="barra"></span>
      <label for="">Fecha</label>
    </div>

    <div class="grupo">
      <input type="text" name="" id="name" required><span class="barra"></span>
      <label for="">Pueblo</label>
    </div>
    <div class="grupo">
      <input type="text" name="" id="email" required><span class="barra"></span>
      <label for="">Población</label>
    </div>
    <div class="grupo">
      <input type="text" name="" id="password" required><span class="barra"></span>
      <label for="">Numero de muertes</label>
    </div>
    <button type="submit">Agregar</button>
    <button type="submit">Cancelar</button>
  </form>
</div>