<div class="container-info">
  <div class="header">
    <h4>COVID 19(Coronavirus)
    </h4>
    <h5> Información de acumulado de muertes por estado.</h5>
  </div>
</div>
<div class="content-answers">
  <p *ngIf="valueMajor">
    <b>
      Estado con mayor acumulado a la fecha:
    </b>
    {{valueMajor.name}} - {{valueMajor.total | number: '1.0-0'}}
  </p>
  <p *ngIf="valueMinor">
    <b>
      Estado con menor acumulado a la fecha
    </b>
    {{valueMinor.name}} - {{valueMinor.total | number: '1.0-0'}}
  </p>
  <p *ngIf="valueMajor">
    El estado mas afectado fue {{valueMajor.name}}, registro un
    total de {{valueMajor.total | number: '1.0-0'}} muertes por coronavirus, una
    cifra alta si se compra con el resto de regiones.
  </p>
</div>
<div class="content-table">
  <div class="table">
    <button>Nuevo registro</button>
    <table mat-table [dataSource]="dataSource" class="table">

      <ng-container matColumnDef="province_State">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element"> {{element.Province_State}} </td>
      </ng-container>

      <ng-container matColumnDef="population">
        <th mat-header-cell *matHeaderCellDef> Población </th>
        <td mat-cell *matCellDef="let element"> {{element.Population | number: '1.0-0'}} </td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef> Total muertes </th>
        <td mat-cell *matCellDef="let element"> {{element.total | number: '1.0-0'}} </td>
      </ng-container>     


      <ng-container matColumnDef="percentage">
        <th mat-header-cell *matHeaderCellDef> Porcentaje </th>
        <td mat-cell *matCellDef="let element"> {{element.total / element.Population | number: '1.0-0' }} </td>
      </ng-container>

      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef> Opciones </th>
        <td mat-cell *matCellDef="let element">  </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>